.nav {
  background: #fff;
  box-shadow: 1px 0 7px #eaeaea;
  height: 80px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 15px;
  }

  a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }
}
